.contacts__title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
}

.contacts__link {
  color: $pink;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;

  &--email:hover {
    color: $main-blue;
    text-decoration: underline;
  }

  &--email:active {
    color: $main-blue;
    opacity: 0.3;
  }
}
