.main-nav {
  width: 100%;
  background-color: $main-blue;
}

.main-nav__toggle {
  width: 23px;
  height: 23px;
  border: none;
  background-image: url("../../img/svg/close-menu-btn.svg");
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    fill: $pink;
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  margin: 1px;
  min-height: 63px;
  box-shadow: 0 1px 0 0 $black, inset 0 1px 0 0 rgba($white, 0.15);
}

.main-nav__link {
  display: block;
  padding: 25px 0;
  color: inherit;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  outline: inset 2px solid yellow;

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}
