.page-title {
  padding: 0 20px;
  background-image: url("../../img/back-mobile.png");
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-title__heading {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
}

.page-title__text {
  font-weight: 300;
}
