.research {
  display: none;
  padding-top: 54px;
}

.research__title {
  color: $black;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.research__link {
  color: $pink;
  text-decoration: underline;
}
