.carousel__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 65px;
}

.carousel__toggle {
  position: relative;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  opacity: 0.3;
  background-color: $carousel-button-color;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: -9px;
    top: -9px;
    width: 25px;
    height: 25px;
  }

  &:hover {
    background-color: $carousel-button-color--hover;
  }

  &:active {
    background-color: $carousel-button-color--active;
  }

  &--current {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $carousel-button-color--current;
    border: 3px solid $carousel-button-border-color--current;
    opacity: 1;


    &:hover {
      background-color: inherit;
    }

    &:active {
      background-color: inherit;
    }
  }
}
