.contest__text {
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0 20px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    max-width: 500px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
    max-width: 800px;
  }
}

.contest__text-hidden-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.contest__text-desktop-only {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.contest__form {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template:
      "name name"
      "app app"
      "contacts contacts"
      "achiviments achiviments"
      "emotion emotion"
      "submit asterisk";
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 47px;
    padding: 0 20px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    grid-template:
      "name app"
      "contacts contacts"
      "achiviments achiviments"
      "emotion emotion"
      "submit asterisk";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 74px;
    grid-row-gap: 46px;
    padding: 0 130px;
  }
}

.contest__inner-submit {
  grid-area: submit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 24px;
  max-width: 296px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;

    & .button--submit-form {
      margin-bottom: 0;
    }
  }
}

.contest__inner-required {
  grid-area: asterisk;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding: 0;
  }
}

.contest__form-required {
  margin: 0;
}

.contest__form-asterisk {
  color: $form-label-color;
}
