.contest__text {
  margin: 0;
  padding: 0 20px;
  line-height: 30px;
  text-align: center;
}

.contest__text-hidden-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.contest__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template:
      "name"
      "app"
      "contacts"
      "achiviments"
      "emotion"
      "submit";
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template:
      "name app"
      "contacts contacts"
      "achiviments achiviments"
      "emotion emotion"
      "submit submit";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 50% 50%;
    padding: 0 130px;
  }
}

.contest__inner-submit {
  grid-area: submit;
}
