.footer-links {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  padding: 20px;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 42px;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-gap: 210px;
    padding: 5px 130px;
  }
}

.footer-links__main-link {
  justify-self: center;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: inherit;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

.footer-links__social {
  display: flex;
  justify-content: space-between;
}

.footer-links__developer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    justify-self: end;
  }
}

.footer-links__developer-text {
  display: inline-block;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.footer-links__developer-link {
  margin-left: 15px;
}
