.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-right: 130px;
    padding-left: 130px;
  }
}

.footer-links__developer-text {
  margin: 0;
  padding: 0;
  display: inline-block;
}
