.gallery {
  margin-bottom: 42px;
  padding: 0 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.gallery__title-wrapper {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.gallery__title {
  margin: auto;
  max-width: 250px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    max-width: 640px;
  }
}

.gallery__list {
  @include reset-list;

  display: grid;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(456px, max-content);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(555px, max-content);
    grid-row-gap: 54px;
    margin: auto;
    max-width: 940px;
  }
}
