.main-nav-toggle {
  padding: 0;
  width: 90px;
  height: 100%;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;

  &--opened {
    & .main-nav-toggle__button--close {
      display: block;
      padding-left: 25px;
    }

    & .main-nav-toggle__button--open {
      display: none;
    }
  }

  &--closed {
    & .main-nav-toggle__button--close {
      display: none;
    }

    & .main-nav-toggle__button--open {
      display: block;
    }
  }

  & .main-nav-toggle__button {
    margin: auto;
    fill: white;

    &:hover {
      fill: #d22856;
    }

    &:active {
      fill: white;
      opacity: 0.3;
    }
  }
}
