.main-logo__glasses {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-logo__glasses-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
