.market-list {
  @include reset-list;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

.market-list__item {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.market-list__item a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
}
