.page-header {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 66px auto auto;
  grid-template-areas:
    "link toggle"
    "nav nav"
    "title title";
  margin-bottom: 5px;
  color: $color-heading-text;
  background-color: $color-primary;
  background-size: 100%;
  background-image: url("../img/back-mobile.jpg");
  background-position: 50% 260px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/back-mobile.jpg");
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: calc((100% - 660px) / 2) min-content auto calc((100% - 660px) / 2);
    grid-template-rows: 110px auto auto;
    grid-template-areas: ". link toggle ."
      "nav nav nav nav"
      ". title title .";
    margin-bottom: 20px;
    background-image: url("../img/back-tablet.jpg");
    background-size: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc((100% - 960px) / 2) 1fr 2fr calc((100% - 960px) / 2);
    grid-template-areas: ". link nav ."
      ". title title .";
    margin-bottom: 64px;
    background-image: url("../img/back-desktop.jpg");
    background-size: cover;
    background-position: 50% 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &--no-js::before {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--menu-bar {
    background-position: 50% 0;
  }

  &--no-js {
    background-position: 50% 260px;
  }

  &--menu-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    margin: 0 auto;
    background-color: $color-title-background--transparent;
    background-position: 0 0;
    background-size: cover;

    @media (min-width: $tablet-width) {
      height: 110px;
      overflow: auto;
    }
  }

  &--no-js .page-header__nav-toggle {
    display: none;
  }

  &--no-js .page-header__nav {
    display: block;
  }

  &--not-front-page {
    margin-bottom: 45px;

    @media (min-width: $tablet-width) {
      margin-bottom: 90px;
    }

    @media (min-width: $desktop-width) {
      min-height: 394px;
      background-position: 50% 0;
    }
  }
}

.page-header__link {
  grid-area: link;
  display: flex;
  align-self: center;
  justify-self: start;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  height: 100%;
  z-index: 1;
  color: white;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-header__logo {
  padding-top: 15px;
  padding-left: 20px;
  width: 74px;
  height: 23px;

  &--mobile {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;
    padding-top: 0;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 10px;
  }
}

.page-header__nav-toggle {
  z-index: 1;
  grid-area: toggle;
  align-self: center;
  justify-self: end;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__nav {
  z-index: 1;
  grid-area: nav;
}

.page-header__title {
  grid-area: title;
  overflow: hidden;
}
