.page-title {
  min-height: 170px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template:
      "page-title__heading page-title__image"
      "page-title__list page-title__image";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: minmax(300px, 40%) auto;
    grid-template-columns: minmax(300px, 40%) auto;
    padding: 0 130px;
  }

  &--title-only {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 170px;

    @media (min-width: $tablet-width) {
      min-height: 330px;
    }

    @media (min-width: $desktop-width) {
      min-height: 280px;
    }
  }
}

.page-title__heading {
  grid-area: page-title__heading;
  align-self: center;
  justify-self: center;
  padding: 23px 20px;
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.page-title__image {
  grid-area: page-title__image;
  width: 100%;
  height: auto;
}

.page-title__market-links {
  padding: 20px 20px;
  background-color: $color-title-background;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: transparent;
  }
}

.page-title__list {
  grid-area: page-title__list;
}

.page-title__text {
  font-weight: 300;
  text-align: center;
}
