.page-header {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 66px auto auto;
  grid-template-areas:
    "link toggle"
    "nav nav"
    "title title";
  margin-bottom: 5px;
  color: $color-heading-text;
  background-color: $color-primary;
  background-size: cover;

  @media (min-width: $tablet-width) {
    grid-template-rows: 110px auto auto;
    margin-bottom: 20px;
    min-height: 620px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "link nav"
      "title title";
    margin-bottom: 75px;
  }

  &--no-js::before {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--menu-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    margin: 0 auto;
    background-color: $color-title-background--transparent;
    background-position: 0 0;
    background-size: cover;

    @media (min-width: $tablet-width) {
      height: 110px;
      overflow: auto;
    }
  }

  &--no-js .page-header__nav-toggle {
    display: none;
  }

  &--no-js .page-header__nav {
    display: block;
  }
}

.page-header__link {
  z-index: 1;
  grid-area: link;
  align-self: center;
  justify-self: start;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
  }
}

.page-header__logo {
  width: 74px;
  height: 23px;
}

.page-header__nav-toggle {
  z-index: 1;
  grid-area: toggle;
  align-self: center;
  justify-self: end;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__nav {
  z-index: 1;
  grid-area: nav;
}

.page-header__title {
  grid-area: title;
}
