.photo-upload {
  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 940px;
  }
}

.photo-upload__caption-wrapper {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.photo-upload__caption {
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.photo-upload__form {
  padding: 20px;
  padding-bottom: 34px;
  background-color: $form-background-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template: "label tools"
      "label buttons";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-top: 41px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}

.photo-upload__tools {
  grid-area: tools;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
}

.photo-upload__label {
  grid-area: label;
  display: block;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.photo-upload__image {
  display: block;
  margin: auto;
  cursor: pointer;
}

.photo-upload__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.photo-upload__buttons-wrapper {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    padding-left: 23px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 42px;
    padding-left: 0;
  }
}
