.price {
  min-width: 320px;
  padding-top: 75px;
  padding-bottom: 47px;
  background-image: url("../img/grey-background.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding-top: 93px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 154px;
    padding-bottom: 60px;
  }
}

.price__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.price__list {
  margin-bottom: 35px;
  table-layout: auto;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    table-layout: fixed;
    width: 100%;
  }
}

.price__title {
  padding: 13px 38px 25px;
  color: $color-heading-text;
  font-size: 16px;
  text-transform: uppercase;
  background-color: $color-primary;
  border: 2px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 15px 20px 6px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 20px 18px;
  }

  &--blank {
    background-color: transparent;
    border: none;
  }

  &--hide {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--hit {
    position: relative;
  }

  &--hit::after {
    content: "Хит";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: 300;
    transform: rotate(-45deg);
  }

  &--hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 74px;
    width: 74px;
    //hit-ribbon
  }
}

.price__title-value {
  margin: 5px;
  font-size: 18px;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__cell {
  min-height: 60px;
  min-width: 280px;
  padding: 14px;
  border: 2px solid $border-color;
  background-color: $table-background-color;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px;
  }

  &--yes,
  &--no {
    background-repeat: no-repeat;
    background-position: 92% 50%;

    @media (min-width: $tablet-width) {
      font-size: 0;
      background-position: 50% 50%;
    }
  }

  &--yes {
    background-image: url("../img/svg/yes.svg");
  }


  &--no {
    background-image: url("../img/svg/no.svg");
  }

  &--hide {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
      text-transform: none;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
}

.price .price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
