.radio-field > .radio-field__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-field > .radio-field__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio-field > .radio-field__label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $form-input-border-color;
  border-radius: 50%;
  margin-right: 30px;
  background-color: $form-input-background-color;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.radio-field__input:not(:checked) + .radio-field__label:hover::before,
.radio-field__input:checked + .radio-field__label:hover::before,
.radio-field__input:focus:not(:checked) + .radio-field__label::before,
.radio-field__input:focus:checked + .radio-field__label::before {
  border-color: $form-input-border-color--hover;
}

.radio-field__input:checked + .radio-field__label::before {
  background-image: url("../img/svg/radio-checked.svg");
}

.radio-field__input:not(:checked):active + .radio-field__label::before,
.radio-field__input:checked:active + .radio-field__label::before {
  border-color: $form-input-border-color--active;
}
