.research {
  display: none;
  margin-bottom: 72px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: calc((100% - 660px) / 2) repeat(2, 1fr) calc((100% - 660px) / 2);
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      ". . . ."
      ". image research .";
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 95px 1fr;
    grid-template-columns: calc((100% - 960px) / 2) 1fr 1fr calc((100% - 960px) / 2);
    background-color: $color-section-background;
  }
}

.research__wrapper {
  grid-area: research;

  @media (min-width: $tablet-width) {
    min-height: 276px;
    min-width: 310px;
  }

  @media (min-width: $desktop-width) {
    min-height: 345px;
    min-width: 530px;
  }
}

.research__image {
  grid-area: image;

  @media (min-width: $tablet-width) {
    background-image: url("http://placehold.it/238x276");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image: url("http://placehold.it/298x345");
  }
}

.research__title {
  color: $color-secondary-text;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 60%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.research__text {
  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 48px;
  }
}

.research__link {
  color: $link-color;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
