.testimonials {
  padding: 45px 20px 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    padding: 45px 130px 0;
    background-image: url("../img/quotes.png");
    background-position: top;
    background-repeat: no-repeat;
  }
}

.testimonials__wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.testimonials__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.testimonials__item {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    max-width: 84%;
  }
}

.testimonials__author {
  display: block;
  margin-bottom: 17px;
  padding: 0;
  color: $color-secondary-text;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.testimonials__author-info {
  display: none;
  margin: 0;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.testimonials__text {
  margin: 0;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 37px;
    font-size: 18px;
  }
}

.testimonials__next {
  transform: rotateY(180deg);
}

.testimonials__previous {
  order: -1;
}

.testimonials__next,
.testimonials__previous {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 22px;
    height: 41px;
    background-color: transparent;
    background-image: url("../img/testimonials-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}

.testimonials .testimonials__toggles {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
