.tool__icon-list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px 0 5px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.tool__icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    justify-content: end;
    padding-left: 13px;
    padding-top: 13px;
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      padding-left: 11px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-top: 9px;
  }
}

.tool__button {
  background-color: transparent;
  border: none;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    opacity: 1;
  }

  & .tool__icon {
    fill: #283645;

    @media (min-width: $tablet-width) {
      fill: $icon-color--active;
    }
  }

  &--active {
    opacity: 1;

    & .tool__icon {
      fill: $icon-color--active;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.tool__icon {
  &--crop {
    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 44px;
      height: 44px;
    }
  }

  &--fill {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 48px;
      height: 43px;
    }
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 32px;
    }
  }
}

//Tool Controls


.tool__bar-list {
  @include reset-list;
  width: 100%;
}

.tool__bar-item {
  width: 100%;
  border-bottom: 1px solid $control-bar-border-color;

  @media (min-width: $tablet-width) {
    margin-left: -29px;
    padding-left: 29px;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      border: none;
    }
  }

  &--hide {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.tool__controls-scale {
  position: relative;
  padding: 35px 20px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 70px;
    padding-left: 40px;
  }
}

.tool__controls-bar {
  height: 2px;
  background-color: $control-bar-color;
}

.tool__controls-toggle {
  position: absolute;
  top: 29px;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid $control-toggle-border-color;
  border-radius: 50%;
  background-color: $control-toggle-background-color;
  cursor: pointer;

  &:active {
    background-color: $control-toggle-background-color--active;
  }

  &--crop {
    right: 19%;

    @media (min-width: $tablet-width) {
      right: 24%;
    }

    @media (min-width: $desktop-width) {
      right: 68%;
    }
  }

  &--fill {
    right: 80%;

    @media (min-width: $tablet-width) {
      right: 74%;
    }

    @media (min-width: $desktop-width) {
      right: 24%;
    }
  }

  &--contrast {
    right: 42%;

    @media (min-width: $tablet-width) {
      right: 45%;
    }

    @media (min-width: $desktop-width) {
      right: 46%;
    }
  }

  @media (min-width: $desktop-width) {
    top: 28px;
  }
}
