//Base font
$font-size-base: 14px;
$line-height-base: 24px;
$font-weight-base: 400;
//Base colors
$color-white: #ffffff;
$color-pink: #d22856;
$color-blue: #283645;
$color-black: #000000;
$color-transparent-black: rgba($color-black, 0.4);
$color-grey--light: #f2f2f2;
$color-grey: #e5e5e5;
$color-green: #2aab6d;
$color-green--dark: #1c9b5e;
//Interface colors
$color-primary: $color-blue;
$color-primary-text: $color-blue;
$color-secondary: $color-pink;
$color-secondary-text: $color-black;
$color-heading-text: $color-white;
//Table
$border-color: $color-grey;
$table-background-color: $color-white;
//Carousel
$carousel-button-color: rgba($color-blue, 0.3);
$carousel-button-color--current: $color-white;
$carousel-button-border-color--current: $color-blue;
//Link
$link-color: $color-pink;
$link-color--hover: $color-blue;
$link-color--active: rgba($link-color, 0.3);
//Form
$form-background-color: $color-grey--light;
$form-label-color: $color-pink;
$form-text-color: $color-blue;
$form-button-text-color: $color-white;
$form-button-background-color: $color-green;
$form-button-background-color--hover: $color-green--dark;
$form-button-background-color--disabled: $color-grey;
$form-input-border-color: $color-grey;
$form-input-border-color--hover: $color-blue;
$form-input-border-color--active: $color-pink;
$form-input-background-color: $color-white;
//User-photo
$user-photo-tag-background-color: $color-pink;
$user-photo-tag-color-text: $color-white;
$user-photo-likes-color-text: $color-pink;
$user-photo-upload-color: $color-pink;
$user-photo-upload-color-text: $color-pink;
$user-photo-upload-color-text--hover: $color-white;
$user-photo-clear-color: rgba($color-blue, 0.1);
$user-photo-clear-color--hover: rgba($color-blue, 0.3);
$user-photo-clear-color--active: rgba($color-blue, 0.3);
$user-photo-clear-color-text--active: rgba($color-white, 0.3);
//Icon
$icon-color--active: $color-pink;
//Tool
$control-bar-color: $color-blue;
$control-bar-border-color: rgba($color-blue, 0.1);
$control-toggle-border-color: $color-pink;
$control-toggle-background-color: $color-white;
$control-toggle-background-color--active: $color-pink;
//Popup
$popup-heading-text: $color-black;
$popup-button-text-color: $color-white;
$popup-background-color: $color-grey--light;
$popup-button-background-color: $color-green;
$popup-button-background-color--hover: $color-green--dark;
$popup-button-background-color--disabled: $color-grey;
//Overlay
$overlay-color: $color-transparent-black;
