.button {
  display: block;
  margin: 0;
  width: 100%;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button--download {
  padding: 12px 0;
  background-color: transparent;
  border: 3px solid $white;
  border-radius: 25px;

  &:hover {
    color: $pink;
    background-color: $white;
  }
}
